{
  "presets": ["react-native"],
  "plugins": [
    [
      "react-intl", {
        "messagesDir": "./extracted-messages",
        "enforceDescriptions": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
